<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[em_38]</key>
	<string>Expression_38</string>
	<key>[em_44]</key>
	<string>Expression_44</string>
	<key>[em_37]</key>
	<string>Expression_37</string>
	<key>[em_22]</key>
	<string>Expression_22</string>
	<key>[em_35]</key>
	<string>Expression_35</string>
	<key>[em_21]</key>
	<string>Expression_21</string>
	<key>[em_31]</key>
	<string>Expression_31</string>
	<key>[em_24]</key>
	<string>Expression_24</string>
	<key>[em_34]</key>
	<string>Expression_34</string>
	<key>[em_18]</key>
	<string>Expression_18</string>
	<key>[em_55]</key>
	<string>Expression_55</string>
	<key>[em_5]</key>
	<string>Expression_5</string>
	<key>[em_27]</key>
	<string>Expression_27</string>
	<key>[em_7]</key>
	<string>Expression_7</string>
	<key>[em_10]</key>
	<string>Expression_10</string>
	<key>[em_51]</key>
	<string>Expression_51</string>
	<key>[em_16]</key>
	<string>Expression_16</string>
	<key>[em_1]</key>
	<string>Expression_1</string>
	<key>[em_53]</key>
	<string>Expression_53</string>
	<key>[em_17]</key>
	<string>Expression_17</string>
	<key>[em_30]</key>
	<string>Expression_30</string>
	<key>[em_48]</key>
	<string>Expression_48</string>
	<key>[em_32]</key>
	<string>Expression_32</string>
	<key>[em_11]</key>
	<string>Expression_11</string>
	<key>[em_36]</key>
	<string>Expression_36</string>
	<key>[em_6]</key>
	<string>Expression_6</string>
	<key>[em_29]</key>
	<string>Expression_29</string>
	<key>[em_12]</key>
	<string>Expression_12</string>
	<key>[em_3]</key>
	<string>Expression_3</string>
	<key>[em_14]</key>
	<string>Expression_14</string>
	<key>[em_28]</key>
	<string>Expression_28</string>
	<key>[em_15]</key>
	<string>Expression_15</string>
	<key>[em_13]</key>
	<string>Expression_13</string>
	<key>[em_19]</key>
	<string>Expression_19</string>
	<key>[em_20]</key>
	<string>Expression_20</string>
	<key>[em_8]</key>
	<string>Expression_8</string>
	<key>[em_9]</key>
	<string>Expression_9</string>
	<key>[em_23]</key>
	<string>Expression_23</string>
	<key>[em_25]</key>
	<string>Expression_25</string>
	<key>[em_4]</key>
	<string>Expression_4</string>
	<key>[em_2]</key>
	<string>Expression_2</string>
	<key>[em_46]</key>
	<string>Expression_46</string>
	<key>[em_92]</key>
	<string>Expression_92</string>
	<key>[em_95]</key>
	<string>Expression_95</string>
	<key>[em_57]</key>
	<string>Expression_57</string>
	<key>[em_49]</key>
	<string>Expression_49</string>
	<key>[em_33]</key>
	<string>Expression_33</string>
	<key>[em_84]</key>
	<string>Expression_84</string>
	<key>[em_47]</key>
	<string>Expression_47</string>
	<key>[em_86]</key>
	<string>Expression_86</string>
	<key>[em_54]</key>
	<string>Expression_54</string>
	<key>[em_45]</key>
	<string>Expression_45</string>
	<key>[em_50]</key>
	<string>Expression_50</string>
	<key>[em_52]</key>
	<string>Expression_52</string>
	<key>[em_87]</key>
	<string>Expression_87</string>
	<key>[em_59]</key>
	<string>Expression_59</string>
	<key>[em_58]</key>
	<string>Expression_58</string>
	<key>[em_71]</key>
	<string>Expression_71</string>
	<key>[em_68]</key>
	<string>Expression_68</string>
	<key>[em_40]</key>
	<string>Expression_40</string>
	<key>[em_69]</key>
	<string>Expression_69</string>
	<key>[em_96]</key>
	<string>Expression_96</string>
	<key>[em_61]</key>
	<string>Expression_61</string>
	<key>[em_42]</key>
	<string>Expression_42</string>
	<key>[em_62]</key>
	<string>Expression_62</string>
	<key>[em_65]</key>
	<string>Expression_65</string>
	<key>[em_73]</key>
	<string>Expression_73</string>
	<key>[em_78]</key>
	<string>Expression_78</string>
	<key>[em_43]</key>
	<string>Expression_43</string>
	<key>[em_67]</key>
	<string>Expression_67</string>
	<key>[em_79]</key>
	<string>Expression_79</string>
	<key>[em_85]</key>
	<string>Expression_85</string>
	<key>[em_93]</key>
	<string>Expression_93</string>
	<key>[em_72]</key>
	<string>Expression_72</string>
	<key>[em_97]</key>
	<string>Expression_97</string>
	<key>[em_74]</key>
	<string>Expression_74</string>
	<key>[em_70]</key>
	<string>Expression_70</string>
	<key>[em_91]</key>
	<string>Expression_91</string>
	<key>[em_88]</key>
	<string>Expression_88</string>
	<key>[em_76]</key>
	<string>Expression_76</string>
	<key>[em_89]</key>
	<string>Expression_89</string>
	<key>[em_100]</key>
	<string>Expression_100</string>
	<key>[em_90]</key>
	<string>Expression_90</string>
	<key>[em_60]</key>
	<string>Expression_60</string>
	<key>[em_56]</key>
	<string>Expression_56</string>
	<key>[em_63]</key>
	<string>Expression_63</string>
	<key>[em_64]</key>
	<string>Expression_64</string>
	<key>[em_94]</key>
	<string>Expression_94</string>
	<key>[em_82]</key>
	<string>Expression_82</string>
	<key>[em_75]</key>
	<string>Expression_75</string>
	<key>[em_66]</key>
	<string>Expression_66</string>
	<key>[em_99]</key>
	<string>Expression_99</string>
	<key>[em_80]</key>
	<string>Expression_80</string>
	<key>[em_77]</key>
	<string>Expression_77</string>
	<key>[em_98]</key>
	<string>Expression_98</string>
	<key>[em_83]</key>
	<string>Expression_83</string>
	<key>[em_81]</key>
	<string>Expression_81</string>
	<key>[em_41]</key>
	<string>Expression_41</string>
	<key>[em_39]</key>
	<string>Expression_39</string>
	<key>[em_26]</key>
	<string>Expression_26</string>
</dict>
</plist>
