<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[em_1]</string>
		<key>cht</key>
		<string>[em_1]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>Expression_1</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_2]</string>
		<key>cht</key>
		<string>[em_2]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>Expression_2</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_3]</string>
		<key>cht</key>
		<string>[em_3]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>Expression_3</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_4]</string>
		<key>cht</key>
		<string>[em_4]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>Expression_4</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_5]</string>
		<key>cht</key>
		<string>[em_5]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>Expression_5</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_6]</string>
		<key>cht</key>
		<string>[em_6]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>Expression_6</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_7]</string>
		<key>cht</key>
		<string>[em_7]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>Expression_7</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_8]</string>
		<key>cht</key>
		<string>[em_8]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>Expression_8</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_9]</string>
		<key>cht</key>
		<string>[em_9]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>Expression_9</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_10]</string>
		<key>cht</key>
		<string>[em_10]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>Expression_10</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_11]</string>
		<key>cht</key>
		<string>[em_11]</string>
		<key>gif</key>
		<string>Expression_11</string>
		<key>png</key>
		<string>Expression_11</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_12]</string>
		<key>cht</key>
		<string>[em_12]</string>
		<key>gif</key>
		<string>Expression_12</string>
		<key>png</key>
		<string>Expression_12</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_13]</string>
		<key>cht</key>
		<string>[em_13]</string>
		<key>gif</key>
		<string>Expression_13</string>
		<key>png</key>
		<string>Expression_13</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_14]</string>
		<key>cht</key>
		<string>[em_14]</string>
		<key>gif</key>
		<string>Expression_14</string>
		<key>png</key>
		<string>Expression_14</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_15]</string>
		<key>cht</key>
		<string>[em_15]</string>
		<key>gif</key>
		<string>Expression_15</string>
		<key>png</key>
		<string>Expression_15</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_16]</string>
		<key>cht</key>
		<string>[em_16]</string>
		<key>gif</key>
		<string>Expression_16</string>
		<key>png</key>
		<string>Expression_16</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_17]</string>
		<key>cht</key>
		<string>[em_17]</string>
		<key>gif</key>
		<string>Expression_17</string>
		<key>png</key>
		<string>Expression_17</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_18]</string>
		<key>cht</key>
		<string>[em_18]</string>
		<key>gif</key>
		<string>Expression_18</string>
		<key>png</key>
		<string>Expression_18</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_19]</string>
		<key>cht</key>
		<string>[em_19]</string>
		<key>gif</key>
		<string>Expression_19</string>
		<key>png</key>
		<string>Expression_19</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_20]</string>
		<key>cht</key>
		<string>[em_20]</string>
		<key>gif</key>
		<string>Expression_20</string>
		<key>png</key>
		<string>Expression_20</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_21]</string>
		<key>cht</key>
		<string>[em_21]</string>
		<key>gif</key>
		<string>Expression_21</string>
		<key>png</key>
		<string>Expression_21</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_22]</string>
		<key>cht</key>
		<string>[em_22]</string>
		<key>gif</key>
		<string>Expression_22</string>
		<key>png</key>
		<string>Expression_22</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_23]</string>
		<key>cht</key>
		<string>[em_23]</string>
		<key>gif</key>
		<string>Expression_23</string>
		<key>png</key>
		<string>Expression_23</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_24]</string>
		<key>cht</key>
		<string>[em_24]</string>
		<key>gif</key>
		<string>Expression_24</string>
		<key>png</key>
		<string>Expression_24</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_25]</string>
		<key>cht</key>
		<string>[em_25]</string>
		<key>gif</key>
		<string>Expression_25</string>
		<key>png</key>
		<string>Expression_25</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_26]</string>
		<key>cht</key>
		<string>[em_26]</string>
		<key>gif</key>
		<string>Expression_26</string>
		<key>png</key>
		<string>Expression_26</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_27]</string>
		<key>cht</key>
		<string>[em_27]</string>
		<key>gif</key>
		<string>Expression_27</string>
		<key>png</key>
		<string>Expression_27</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_28]</string>
		<key>cht</key>
		<string>[em_28]</string>
		<key>gif</key>
		<string>Expression_28</string>
		<key>png</key>
		<string>Expression_28</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_29]</string>
		<key>cht</key>
		<string>[em_29]</string>
		<key>gif</key>
		<string>Expression_29</string>
		<key>png</key>
		<string>Expression_29</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_30]</string>
		<key>cht</key>
		<string>[em_30]</string>
		<key>gif</key>
		<string>Expression_30</string>
		<key>png</key>
		<string>Expression_30</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_31]</string>
		<key>cht</key>
		<string>[em_31]</string>
		<key>gif</key>
		<string>Expression_31</string>
		<key>png</key>
		<string>Expression_31</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_32]</string>
		<key>cht</key>
		<string>[em_32]</string>
		<key>gif</key>
		<string>Expression_32</string>
		<key>png</key>
		<string>Expression_32</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_33]</string>
		<key>cht</key>
		<string>[em_33]</string>
		<key>gif</key>
		<string>Expression_33</string>
		<key>png</key>
		<string>Expression_33</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_34]</string>
		<key>cht</key>
		<string>[em_34]</string>
		<key>gif</key>
		<string>Expression_34</string>
		<key>png</key>
		<string>Expression_34</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_35]</string>
		<key>cht</key>
		<string>[em_35]</string>
		<key>gif</key>
		<string>Expression_35</string>
		<key>png</key>
		<string>Expression_35</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_36]</string>
		<key>cht</key>
		<string>[em_36]</string>
		<key>gif</key>
		<string>Expression_36</string>
		<key>png</key>
		<string>Expression_36</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_37]</string>
		<key>cht</key>
		<string>[em_37]</string>
		<key>gif</key>
		<string>Expression_37</string>
		<key>png</key>
		<string>Expression_37</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_38]</string>
		<key>cht</key>
		<string>[em_38]</string>
		<key>gif</key>
		<string>Expression_38</string>
		<key>png</key>
		<string>Expression_38</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_39]</string>
		<key>cht</key>
		<string>[em_39]</string>
		<key>gif</key>
		<string>Expression_39</string>
		<key>png</key>
		<string>Expression_39</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_40]</string>
		<key>cht</key>
		<string>[em_40]</string>
		<key>gif</key>
		<string>Expression_40</string>
		<key>png</key>
		<string>Expression_40</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_41]</string>
		<key>cht</key>
		<string>[em_41]</string>
		<key>gif</key>
		<string>Expression_41</string>
		<key>png</key>
		<string>Expression_41</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_42]</string>
		<key>cht</key>
		<string>[em_42]</string>
		<key>gif</key>
		<string>Expression_42</string>
		<key>png</key>
		<string>Expression_42</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_43]</string>
		<key>cht</key>
		<string>[em_43]</string>
		<key>gif</key>
		<string>Expression_43</string>
		<key>png</key>
		<string>Expression_43</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_44]</string>
		<key>cht</key>
		<string>[em_44]</string>
		<key>gif</key>
		<string>Expression_44</string>
		<key>png</key>
		<string>Expression_44</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_45]</string>
		<key>cht</key>
		<string>[em_45]</string>
		<key>gif</key>
		<string>Expression_45</string>
		<key>png</key>
		<string>Expression_45</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_46]</string>
		<key>cht</key>
		<string>[em_46]</string>
		<key>gif</key>
		<string>Expression_46</string>
		<key>png</key>
		<string>Expression_46</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_47]</string>
		<key>cht</key>
		<string>[em_47]</string>
		<key>gif</key>
		<string>Expression_47</string>
		<key>png</key>
		<string>Expression_47</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_48]</string>
		<key>cht</key>
		<string>[em_48]</string>
		<key>gif</key>
		<string>Expression_48</string>
		<key>png</key>
		<string>Expression_48</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_49]</string>
		<key>cht</key>
		<string>[em_49]</string>
		<key>gif</key>
		<string>Expression_49</string>
		<key>png</key>
		<string>Expression_49</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_50]</string>
		<key>cht</key>
		<string>[em_50]</string>
		<key>gif</key>
		<string>Expression_50</string>
		<key>png</key>
		<string>Expression_50</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_51]</string>
		<key>cht</key>
		<string>[em_51]</string>
		<key>gif</key>
		<string>Expression_51</string>
		<key>png</key>
		<string>Expression_51</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_52]</string>
		<key>cht</key>
		<string>[em_52]</string>
		<key>gif</key>
		<string>Expression_52</string>
		<key>png</key>
		<string>Expression_52</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_53]</string>
		<key>cht</key>
		<string>[em_53]</string>
		<key>gif</key>
		<string>Expression_53</string>
		<key>png</key>
		<string>Expression_53</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_54]</string>
		<key>cht</key>
		<string>[em_54]</string>
		<key>gif</key>
		<string>Expression_54</string>
		<key>png</key>
		<string>Expression_54</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_55]</string>
		<key>cht</key>
		<string>[em_55]</string>
		<key>gif</key>
		<string>Expression_55</string>
		<key>png</key>
		<string>Expression_55</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_56]</string>
		<key>cht</key>
		<string>[em_56]</string>
		<key>gif</key>
		<string>Expression_56</string>
		<key>png</key>
		<string>Expression_56</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_57]</string>
		<key>cht</key>
		<string>[em_57]</string>
		<key>gif</key>
		<string>Expression_57</string>
		<key>png</key>
		<string>Expression_57</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_58]</string>
		<key>cht</key>
		<string>[em_58]</string>
		<key>gif</key>
		<string>Expression_58</string>
		<key>png</key>
		<string>Expression_58</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_59]</string>
		<key>cht</key>
		<string>[em_59]</string>
		<key>gif</key>
		<string>Expression_59</string>
		<key>png</key>
		<string>Expression_59</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_60]</string>
		<key>cht</key>
		<string>[em_60]</string>
		<key>gif</key>
		<string>Expression_60</string>
		<key>png</key>
		<string>Expression_60</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_61]</string>
		<key>cht</key>
		<string>[em_61]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>Expression_61</string>
		<key>type</key>
		<string></string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_62]</string>
		<key>cht</key>
		<string>[em_62]</string>
		<key>gif</key>
		<string>Expression_62</string>
		<key>png</key>
		<string>Expression_62</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_63]</string>
		<key>cht</key>
		<string>[em_63]</string>
		<key>gif</key>
		<string>Expression_63</string>
		<key>png</key>
		<string>Expression_63</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_64]</string>
		<key>cht</key>
		<string>[em_64]</string>
		<key>gif</key>
		<string>Expression_64</string>
		<key>png</key>
		<string>Expression_64</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_65]</string>
		<key>cht</key>
		<string>[em_65]</string>
		<key>gif</key>
		<string>Expression_65</string>
		<key>png</key>
		<string>Expression_65</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_66]</string>
		<key>cht</key>
		<string>[em_66]</string>
		<key>gif</key>
		<string>Expression_66</string>
		<key>png</key>
		<string>Expression_66</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_67]</string>
		<key>cht</key>
		<string>[em_67]</string>
		<key>gif</key>
		<string>Expression_67</string>
		<key>png</key>
		<string>Expression_67</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_68]</string>
		<key>cht</key>
		<string>[em_68]</string>
		<key>gif</key>
		<string>Expression_68</string>
		<key>png</key>
		<string>Expression_68</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_69]</string>
		<key>cht</key>
		<string>[em_69]</string>
		<key>gif</key>
		<string>Expression_69</string>
		<key>png</key>
		<string>Expression_69</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_70]</string>
		<key>cht</key>
		<string>[em_70]</string>
		<key>gif</key>
		<string>Expression_70</string>
		<key>png</key>
		<string>Expression_70</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_71]</string>
		<key>cht</key>
		<string>[em_71]</string>
		<key>gif</key>
		<string>Expression_71</string>
		<key>png</key>
		<string>Expression_71</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_72]</string>
		<key>cht</key>
		<string>[em_72]</string>
		<key>gif</key>
	 	<string>Expression_72</string>
		<key>png</key>
		<string>Expression_72</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_73]</string>
		<key>cht</key>
		<string>[em_73]</string>
		<key>gif</key>
		<string>Expression_73</string>
		<key>png</key>
		<string>Expression_73</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_74]</string>
		<key>cht</key>
		<string>[em_74]</string>
		<key>gif</key>
		<string>Expression_74</string>
		<key>png</key>
		<string>Expression_74</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_75]</string>
		<key>cht</key>
		<string>[em_75]</string>
		<key>gif</key>
		<string>Expression_75</string>
		<key>png</key>
		<string>Expression_75</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_76]</string>
		<key>cht</key>
		<string>[em_76]</string>
		<key>gif</key>
		<string>Expression_76</string>
		<key>png</key>
		<string>Expression_76</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_77]</string>
		<key>cht</key>
		<string>[em_77]</string>
		<key>gif</key>
		<string>Expression_77</string>
		<key>png</key>
		<string>Expression_77</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_78]</string>
		<key>cht</key>
		<string>[em_78]</string>
		<key>gif</key>
		<string>Expression_78</string>
		<key>png</key>
		<string>Expression_78</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_79]</string>
		<key>cht</key>
		<string>[em_79]</string>
		<key>gif</key>
		<string>Expression_79</string>
		<key>png</key>
		<string>Expression_79</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_80]</string>
		<key>cht</key>
		<string>[em_80]</string>
		<key>gif</key>
		<string>Expression_80</string>
		<key>png</key>
		<string>Expression_80</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_81]</string>
		<key>cht</key>
		<string>[em_81]</string>
		<key>gif</key>
		<string>Expression_81</string>
		<key>png</key>
		<string>Expression_81</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_82]</string>
		<key>cht</key>
		<string>[em_82]</string>
		<key>gif</key>
		<string>Expression_82</string>
		<key>png</key>
		<string>Expression_82</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_83]</string>
		<key>cht</key>
		<string>[em_83]</string>
		<key>gif</key>
		<string>Expression_83</string>
		<key>png</key>
		<string>Expression_83</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_84]</string>
		<key>cht</key>
		<string>[em_84]</string>
		<key>gif</key>
		<string>Expression_84</string>
		<key>png</key>
		<string>Expression_84</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_85]</string>
		<key>cht</key>
		<string>[em_85]</string>
		<key>gif</key>
		<string>Expression_85</string>
		<key>png</key>
		<string>Expression_85</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_86]</string>
		<key>cht</key>
		<string>[em_86]</string>
		<key>gif</key>
		<string>Expression_86</string>
		<key>png</key>
		<string>Expression_86</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_87]</string>
		<key>cht</key>
		<string>[em_87]</string>
		<key>gif</key>
		<string>Expression_87</string>
		<key>png</key>
		<string>Expression_87</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_88]</string>
		<key>cht</key>
		<string>[em_88]</string>
		<key>gif</key>
		<string>Expression_88</string>
		<key>png</key>
		<string>Expression_88</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_89]</string>
		<key>cht</key>
		<string>[em_89]</string>
		<key>gif</key>
		<string>Expression_89</string>
		<key>png</key>
		<string>Expression_89</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_90]</string>
		<key>cht</key>
		<string>[em_90]</string>
		<key>gif</key>
		<string>Expression_90</string>
		<key>png</key>
		<string>Expression_90</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_91]</string>
		<key>cht</key>
		<string>[em_91]</string>
		<key>gif</key>
		<string>Expression_91</string>
		<key>png</key>
		<string>Expression_91</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_92]</string>
		<key>cht</key>
		<string>[em_92]</string>
		<key>gif</key>
		<string>Expression_92</string>
		<key>png</key>
		<string>Expression_92</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_93]</string>
		<key>cht</key>
		<string>[em_93]</string>
		<key>gif</key>
		<string>Expression_93</string>
		<key>png</key>
		<string>Expression_93</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_94]</string>
		<key>cht</key>
		<string>[em_94]</string>
		<key>gif</key>
		<string>Expression_94</string>
		<key>png</key>
		<string>Expression_94</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_95]</string>
		<key>cht</key>
		<string>[em_95]</string>
		<key>gif</key>
		<string>Expression_95</string>
		<key>png</key>
		<string>Expression_95</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_96]</string>
		<key>cht</key>
		<string>[em_96]</string>
		<key>gif</key>
		<string>Expression_96</string>
		<key>png</key>
		<string>Expression_96</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_97]</string>
		<key>cht</key>
		<string>[em_97]</string>
		<key>gif</key>
		<string>Expression_97</string>
		<key>png</key>
		<string>Expression_97</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_98]</string>
		<key>cht</key>
		<string>[em_98]</string>
		<key>gif</key>
		<string>Expression_98</string>
		<key>png</key>
		<string>Expression_98</string>
		<key>type</key>
		<string>0</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[em_99]</string>
		<key>cht</key>
		<string>[em_99]</string>
		<key>gif</key>
		<string></string>
		<key>png</key>
		<string>Expression_99</string>
		<key>type</key>
		<string>0</string>
	</dict>
</array>
</plist>
